* {
    box-sizing: border-box;
}

/* Header et footer */

.navbar-brand img {
    width: 190px;
    padding: 3px 0 0 8px;
}

.navbar, .Card {
    background-color: rgb(243, 233, 241);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.internal-link {
    padding-top: 35px;
}

.internal-link a, .internal-link-footer a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 400;
}

.internal-link, .internal-link-footer {
    padding-right: 25px;
}

.internal-link-footer {
    padding-top: 8px;
    list-style-type: none;
}

/* Bloc 1 -- Présentation */

.jumbotron {
    position: relative;
}
.jumbotron img {
    width: 100%;
    border-radius: 20px;
}
.text-jumbotron h1 {
    color: #F3E9F2;
    font-size: 2.7em;
    font-weight: 600;
}
.text-jumbotron h2 {
    color: rgb(243, 233, 241);
    font-size: 1.5em;
    font-weight: 600;
}
.jumbotron > .text-jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    text-shadow: 1px 1px 2px #24111F;
}


/* Bloc 2 -- Produits */

.productCard {
    padding: 0;
}

.Image {
    height: 45%;
    width: 100%;
    object-fit: cover;
}

.mrg {
    margin-top: 15px;
}

#productLink {
    text-decoration: none;
    color: black;
}

.mb-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin: 0;
    text-align: justify;
}

.Price {
    border: 7px whitesmoke solid;
    background-color: white;
}